---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Delta Daniel" description="Welcome to Delta Daniel: Where Ideas Turn Into Apps">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About Delta Daniel"
                tagline="Turning creativity into innovative apps"
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Delta Daniel - Turning creativity into innovative apps"
                />
            </Hero>

            <section>
                <h2 class="section-title">Our Story</h2>
                <div class="content">
                    <p>
                        In the realm of app creation and innovation, Delta Daniel has established itself as a powerhouse, delivering cutting-edge solutions that captivate and revolutionize. For years, we have been synonymous with app development excellence, crafting applications that challenge norms and set new standards.
                    </p>
                    <p>
                        Our team comprises seasoned visionaries and technical virtuosos. Whether it's ideation, design, or development, we have the perfect blend of expertise to bring your app idea to life, turning it into an experience that resonates with users.
                    </p>
                </div>
            </section>
            
            <section>
                <h2 class="section-title">Mission</h2>
                <div class="content">
                    <small><p>To shape the digital landscape with innovation, one app at a time.</p></small>
                </div>
            </section>
            
            <section>
                <h2 class="section-title">Vision</h2>
                <div class="content">
                    <small><p>To stand as a recognized app development leader, inspiring the industry.</p></small>
                </div>
            </section>
        </main>

        <div style="display: flex; justify-content: center; margin-top: 0.5rem; margin-left: 20px;">
            <img
              width="600"
              height="auto"
              src="/assets/crowd.jpg"
              alt="Delta Daniel Team - Transforming Ideas into Apps"
              style="border-radius: 1rem; box-shadow: var(--shadow-md);"
            />
        </div>

        <ContactCTA />
    </div>
</BaseLayout>



<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
