---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Acerca de | Servicons" description="Somos Servicons Cali: Servicios de construcción, obra blanca y mantenimiento.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Somos Servicons Cali"
				tagline="Construcción, obra blanca y mantenimiento."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Servicons - Construcción, obra blanca y mantenimiento."
				/>
			</Hero>

			<section>
				<h2 class="section-title"></h2>
				<div class="content">
					<p>
						En Cali y su zona metropolitana, Servicons ha sido reconocido por sus soluciones en construcción, obra blanca, mantenimiento, instalación y reparación, realizando un trabajo eficiente y garantizado durante décadas.
					</p> <br>
					<p>
						Contamos con profesionales excepcionales con años de experiencia acumulada en el campo. Si necesitas encargar una construcción, una renovación, una reparación... Tenemos el técnico acertado para hogares, comercios y áreas industriales.
					</p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Misión</h2>
				<div class="content">
					<small></small><p>Hacer de Cali y el Valle un mejor espacio y lugar; una obra cada vez.</p></small>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Visión</h2>
				<div class="content">
					<small><p>Ser una empresa de construcción reconocida en el Suroccidente.</p></small>
				</div>
			</section>
		</main>

		<div style="display: flex; justify-content: center; margin-top: 0.5rem;">
			<img
				width="600"
				height="auto"
				src="/assets/crowd.jpg"
				alt="Equipo de Servicons - Construcción, obra blanca y mantenimiento."
				style="border-radius: 1rem; box-shadow: var(--shadow-md);"
			/>
		</div>

		<ContactCTA />
	</div>
</BaseLayout>


<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
