---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Acerca de | Servicons" description="Somos construcción, obra blanca y acabados, y ese sólo es el principio para hacer grandes cosas.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de"
				tagline="Servicons - Construcción, obra blanca y acabados."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Servicons - Construcción, obra blanca y acabados."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experiencia</h2>
				<div class="content">
					<p>
						Los buenos resultados de Servicons en el desarrollo de sus obras, hace que las personas queden felices. En Colombia, Servicons Cali es reconocido por su excelente servicio, ofreciendo soluciones confiables y eficientes para hacer tu lugar de residencia o lugar de trabajo, un lugar mejor construido y más atractivo.
					</p>
					<p>
						Con profesionales altamente capacitados, Servicons destaca por su compromiso y experiencia en el campo, enfoque en la calidad y la atención al detalle que resulta en resultados excepcionales. Si estás en busca de servicios confiables en Cali, llámanos y dinos qué necesitas. 
					</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section> -->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
