---
import BaseLayout from './BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Lucfreelance" description="Welcome to Lucfreelance's Web Frontend Developer Portfolio 2023">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About Lucfreelance"
                tagline="Here an close-up to Soe Lucas better known as Lucfreelance in digital environments."
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/imaginery/develop.jpg"
                    alt="Lucfreelance - Frontend Developer Portfolio 2023 About Page"
                />
            </Hero>

            <section>
                <h2 class="section-title">Background</h2>
                <div class="content">
                    <p>
                        Dedicated to crafting exceptional digital experiences. Since building websites with frameworks like Hugo, Astro, Jekyll, e11y; apply proper integrations with database, paywall, modules and libraries. A passionate frontend developer with additional skills related a background in writing and advertising circles.
                    </p>
                    
                    <br>
                    <section>
                        <h2 class="section-title">
                            🎯 Mission
                        </h2>
                        <div class="content">
                            <small><p>To shape the digital landscape with creativity and innovation, one project at a time.</p></small>
                        </div>
                    </section>
                    <br />
                    <section>
                        <h2 class="section-title">
                            👁️ Vision
                        </h2>
                        <div class="content">
                            <small><p>To be a dedicated web development professional, striving for continuous growth and excellence in every endeavor.</p></small>
                        </div>
                    </section>
                        
                    <br>

                    <h2>💻 Technologies & Tools</h2>
                    <p>MERN stack and JAM stack is the main core of my develop, with another strategic tools to reach every pointed target. Take a look to some of the more representative of then:</p>
                    <br>
                    <h3>Frontend Development Tools</h3>
                    <p>For building websites, landing pages, e-commerce sites, documentation wikis, personal, and corporate websites, I adhere to best practices, implementing security measures, ensuring responsiveness, accessibility, and incorporating various other essential features</p>
                    <table>
                    <tr>
                        <th>Languages</th>
                        <th>Frameworks</th>
                        <th>Libraries</th>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/javascript.png" alt="JavaScript"> JavaScript</td>
                        <td><img src="https://img.icons8.com/color/48/000000/vite.png" alt="Vite"> Vite </td>
                        <td><img src="https://img.icons8.com/color/48/000000/react-native.png" alt="React.js"> React.js </td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS"> CSS</td>
                        <td><img src="https://img.icons8.com/color/48/000000/tailwindcss.png" alt="TailwindCSS"> Tailwind CSS
                            <img src="https://img.icons8.com/color/48/000000/bootstrap.png" alt="Bootstrap"> Bootstrap</td>
                        <td><img src="https://img.icons8.com/color/48/000000/sass.png" alt="Sass"> Sass
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML"> HTML</td>
                        <td>Vanilla</td>
                        <td>HTML5, V8</td>
                    </tr>
                    </table>
                    <br>
                    <h3>Backend Development</h3>
                    <table>
                    <tr>
                        <th>Languages</th>
                        <th>Frameworks</th>
                        <th>Modules</th>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/nodejs.png" alt="Node.js"> Node.js</td>
                        <td><img src="https://img.icons8.com/color/48/000000/express.png" alt="Express.js"> Express.js</td>
                        <td></td>
                    </tr>
                    </table>
                    <br>
                    <h3>Databases</h3>

                    <table>
                    <tr>
                        <th>Database</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/mongodb.png" alt="MongoDB"> MongoDB</td>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/mysql.png" alt="MySQL"> MySQL</td>
                    <td>·</td>
                    </tr>
                    </table>
                    <br>
                    <h3>Other</h3>

                    <table>
                    <tr>
                        <th>Tools</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/git.png" alt="Git"> Git</td>
                        <td>Version Control</td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/github.png" alt="GitHub"> GitHub</td>
                        <td>Repository Hosting</td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/notion.png" alt="Notion"> Notion</td>
                        <td>Task Management, Documentation</td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/figma.png" alt="Figma"> Figma</td>
                        <td>Design Collaboration</td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/trello.png" alt="Trello"> Trello</td>
                        <td>Project Management</td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/color/48/000000/wordpress.png" alt="WordPress"> WordPress  </td>
                        <td><img src="https://img.icons8.com/color/48/000000/woocommerce.png" alt="Woocommerce"> Woocommerce</td>
                        <td><img src="https://img.icons8.com/color/48/000000/elementor.png" alt="Elementor"> Elementor</td>
                    </tr>
                    </table>
                    <br>
                    <p>
                        Through strategic cultivation, I have refined my skills and acquired the expertise necessary to excel in web development for large and small projects.
                    </p>
                    <br>
                    <p>
                        My approach involves utilizing AI tools to generate meaningful textual content, enabling me to develop comprehensive concepts and strategies more efficiently.
                    </p>
                    <br>
                    <p>
                        Continuously learning and staying updated with the latest web technologies, I have built several websites using various frameworks over the past year.
                    </p>
                </div>
            </section>
        </main>

        <div style="display: flex; justify-content: center; margin-top: 0.5rem; margin-left: 20px;">
            <img
              width="600"
              height="auto"
              src="/assets/imaginery/summary.jpg"
              alt="Lucfreelance - Web Frontend Developer 2023"
              style="border-radius: 1rem; box-shadow: var(--shadow-md);"
            />
        </div>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
