---
import { getCollection } from 'astro:content';

import BaseLayout from './BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Services | Delta Daniel"
    description="Enhancing the lives of people who use our services"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Here's Our Range of Services."
                tagline="Consistent service all year round."
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

