---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Servicios | Servicons"
	description="Mejoramos la vida de personas que contratan nuestros servicios"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Nuestra oferta de Servicios: 2023 - Trabajando sin descanso"
				tagline="Algunos de los servicios m치s solicitados a nuestra empresa. Si lo quieres para ti, s칩lo dinos cu치ndo y d칩nde lo quieres."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
