---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import ContactCTA from '../components/ContactCTA.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Work Showcase"
    description="Enhancing lives of people who use my services"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Explore Some of my Recent Projects"
                tagline="Consistent Results Crafted to Match Unique Requirements."
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

