---

---

<section class="section with-background bg-variant">
  <header class="section-header stack gap-2 lg:gap-4">
    <h2>Testimonials</h2>
    <h5>
      What Clients <br>
      Are Saying ↓
    </h5>
  </header>

  <div class="gallery">
    <ul class="testimonial-list">
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/imaginery/client-1.jpg" alt="Satisfied Client 1" />
            </div>
            <p>Other developers I had quoted gave me various excuses and delays, but this dev addressed my requirements with accurate results and a nice website.</p>
            <p class="author">~ Julian - Cali VIP Tours [Hugo]</p>
          </div>
        </article>
      </li>
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/imaginery/client-2.jpg" alt="Satisfied Client 2" />
            </div>
            <p>I highly recommend Lucfreelance's services. They have shown a high level of expertise, and their attention to detail is appreciated. Thank you for the excellent work doing my store!</p>
            <p class="author">~ Maria - Sacred Collective [WordPress + Woocommerce]</p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="testimonial-list">
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/imaginery/client-3.jpg" alt="Satisfied Client 3" />
            </div>
            <p>I am satisfied with Luc team and they were always professional and completed the project on time and within the budget. Solving problems and patiente will always be a plus that I appreciate.</p>
            <p class="author">~ Wilman - Pragma [WordPress + Elementor]</p>
          </div>
        </article>
        </li>
        <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/imaginery/client-4.jpg" alt="Satisfied Client 4" />
            </div>
            <p>Competent and trustable designer and data base integrator in this company. They exceeded my expectations and met my guidelines. I will definitely contact them for further future projects.</p>
            <p class="author">~ Daniel - El Patio + Corredor Cultural [Hugo]</p>
          </div>
         </article>
          </li>
          <li>
          <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/imaginery/client-5.jpg" alt="Satisfied Client 5" />
            </div>
            <p>I had the pleasure of working with Lucfreelance and their team for Komensales. Their competence and reliability make them a top choice for any future endeavors. Highly recommend!</p>
            <p class="author">~ Jovanny - Komensales [Astro]</p>
          </div>
       </article>
      </li>
    </ul>
  </div>
</section>

<style>
  .section-header {
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .section-header h2 {
    color: white;
  }

  .testimonial {
    margin-bottom: 2rem;
  }

  .testimonial p {
    margin-bottom: 0.5rem;
  }

  .testimonial .author {
    font-style: italic;
    color: var(--gray-500);
  }

  .testimonial-image {
    text-align: center;
  }

  .testimonial-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
</style>
