---
// import '/assets/cliente-satisfecho-1.jpg'
// import '/assets/cliente-satisfecho-2.jpg'
// import '/assets/cliente-satisfecho-3.jpg'
// import '/assets/cliente-satisfecho-4.jpg'
---

<section class="section with-background bg-variant">
  <header class="section-header stack gap-2 lg:gap-4">
    <h2>Testimonios</h2>
    <h5>
      Lo que algunos de nuestros <br>
      clientes están comentando:
    </h5>
  </header>

  <div class="gallery">
    <ul class="testimonial-list">
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/cliente-satisfecho-1.jpg" alt="Cliente satisfecho 1" />
            </div>
            <p>Estoy satisfecho con el servicio de Servicons, el equipo y el maestro fueron siempre profesionales y completaron el proyecto a tiempo y dentro del presupuesto.</p>
            <p class="author">- Juan Jimenez - barrio Industrial</p>
          </div>
        </article>
      </li>
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/cliente-satisfecho-2.jpg" alt="Cliente satisfecho 2" />
            </div>
            <p>Recomiendo ampliamente los servicios de Servicons. Han demostrado un alto nivel de experiencia y su atención al detalle se agradece. ¡Gracias por el excelente trabajo!</p>
            <p class="author">- María Gómez - Vipasa</p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="testimonial-list">
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/cliente-satisfecho-3.jpg" alt="Cliente satisfecho 3" />
            </div>
            <p>Competentes trabajadores en esa empresa de construcción. Superaron mis expectativas y cumplieron mis requisitos. Sin duda los contactaré para futuros proyectos.</p>
            <p class="author">- Luis Torres - Fray Damián comuna 3</p>
          </div>
        </article>
      </li>
      <li>
        <article>
          <div class="testimonial">
            <div class="testimonial-image">
              <img src="/assets/cliente-satisfecho-4.jpg" alt="Cliente satisfecho 3" />
            </div>
            <p>Otros técnicos que había cotizado me pusieron varios pretextos y demoras, pero ellos resolvieron mis requerimientos con una respuesta acertada y sin tardanzas.</p>
            <p class="author">- Enrique Perea - San Cayetano</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>

<style>
  .section-header {
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .section-header h2 {
    color: white;
  }

  .testimonial {
    margin-bottom: 2rem;
  }

  .testimonial p {
    margin-bottom: 0.5rem;
  }

  .testimonial .author {
    font-style: italic;
    color: var(--gray-500);
  }

  .testimonial-image {
    text-align: center;
  }

  .testimonial-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
</style>
